if paginate.hasPreviousPages || paginate.hasNextPages(page_count)
  .row
    .col
      nav(aria-label='navigation')
        ul.pagination
          if paginate.hasPreviousPages
            a.btn.btn-custom(href=paginate.href(true)).prev
              |  Previous
          if first_pages
            each first_page in first_pages
              a.btn.btn-custom(href=first_page.url)=first_page.number
          if page_count > 3
            span.dots='...'
          if last_pages && page_count > 5
            each last_page in last_pages
              a.btn.btn-custom(href=last_page.url)=last_page.number
          if paginate.hasNextPages(page_count)
              a.btn.btn-custom(href=paginate.href()).next
                | Next