extends layout

block content
  .container
    .row
      .col-xs-12
        h1= title
    .row     
      if users.total_count > 0
        div.col-12
          p #[strong #{users.total_count}] users
          each item in users.items
            div.d-flex
              div.p-2
                a(href='#{item.html_url}')
                  img(src="#{item.avatar_url}",width='50',height='50')
              div.p-2.flex-grow-1
                a(href='#{item.html_url}')
                  div.login= item.login
      else
        p No users found!