extends layout

block content
  .container
    include search
    .row
      .col
        h2= title
    .row     
      .col.search-results
        if total_count > 0
          p #[strong #{total_count}] users
          each user in users
            div.d-flex
              div.p-2
                a(href='#{user.html_url}',target='_blank')
                  img(src="#{user.avatar_url}",width='50',height='50')
              div.d-flex-column.col-personal-info
                div.p-2
                  a(href='#{user.html_url}',target='_blank')
                    div.name Name: #{user.name}
                div.p-2
                  a(href='#{user.html_url}',target='_blank')
                    span Username: 
                      span.login=user.login
              div.d-flex-column
                div.p-2
                  if user.followers
                      div.followers Followers: #{user.followers}
                  else 
                      div.followers Followers: 0
                div.p-2
                  if user.following
                      div.following Following: #{user.following}
                  else 
                      div.following Following: 0
        else
          p No users found!

    include pagination